{% extends 'layouts.html' %}
{% block content %}

<section class="products">

  <div class="form-box">
  
  <h2>Contact Us</h2>
  
  <form>
    <input name="name" placeholder="Name" required>
    <input name="email" type="email" placeholder="Email" required>
    <input name="phone" placeholder="Phone" required>
    <textarea name="message" placeholder="Message" required></textarea>
    
    <button type="submit" class="send-btn">Send Message</button>
  </form>
  
  </div>
  
  </section>


{% endblock %}
