{% extends 'layouts.html' %}
{% block content %}
<section class="slider">

  <div class="hero-text">
    <h1>WELCOME TO NEPCREW</h1>
    <p>Esports • Streetwear • Footwear</p>
    <a href="{% url 'products' %}" class="hero-btn">Shop Now</a>
  </div>

  <img src="/static/images/streetwear.png" class="slide active">
  <img src="/static/images/footwear.png" class="slide">
  <img src="/static/images/shoes.png" class="slide">



</section>

<section class="hero">
<h1>WELCOME TO nepCREW</h2>
</section>



{% endblock %}