{% extends 'layouts.html' %}
{% load static %}

{% block content %}
<section class="hero">
  <div class="slider">
    <div class="hero-text">
      <h1>WELCOME TO NEPCREW</h1>
      <p>Esports • Streetwear • Footwear</p>
      <a href="{% url 'products' %}" class="hero-btn">Shop Now</a>
    </div>
    <img src="{% static 'images/streetwear.png' %}" class="slide active" alt="Streetwear">
    <img src="{% static 'images/footwear.png' %}" class="slide" alt="Footwear">
    <img src="{% static 'images/shoes.png' %}" class="slide" alt="Shoes">
    <div class="slider-nav">
      <div class="slider-dot active"></div>
      <div class="slider-dot"></div>
      <div class="slider-dot"></div>
    </div>
  </div>
</section>
{% endblock %}
